.card-content {
  display: flex;
  flex-direction: column;
}

.card-content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-content > * + * {
  margin-top: 0.8em;
}

.place-name {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
}

hr {
  color: grey;
  width: 100%;
  border: none;
  border-top: 1px solid;
}

.place-address {
  opacity: 0.7;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 0.15ch;
}

.place-rating {
  font-size: 1.3em;
}

.place-price {
  font-size: 1em;
  opacity: 0.7;
}