.pick {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin: 1%;
  padding: 1%;
}

.picks-container {
  position: absolute;
  top: 25%;
  display: grid; 
  max-width: 50vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}