.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
}

.header-title {
  font-size: 2em;
  margin-left: 1em;
}

.login-button {
  outline: none;
  border: none;
  background-color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-radius: 90px;
  padding: 10px 16px;
  margin: 1.5em 1em;
  cursor: pointer;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 20px -10px rgba(50, 50, 73, 0.5);
  transition-duration: 200ms;
}

.login-field {
  outline: none;
  border: none;
  border-radius: 90px;
  padding: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 20px -10px rgba(50, 50, 73, 0.5);
}

.login-button:hover {
  background-color: #d3d3d3;
}