.result {
  text-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1), 0 0 1.5em;
  font-size: 10em;
  z-index: -1;
  animation: blip 400ms ease-out;
}

@keyframes blip {
  0% { transform: scale(0) }
  25% { transform: scale(1.2) }
  100% { transform: scale(1) }
}

.heart {
  color: magenta;
}

.cross {
  color: orangered;
}